{% extends "base.html" %}

{% block title %}
    User profile
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {# Таблица с устройствами #}
        <h3>Устройства:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Remote ip</th>
                <th scope="col">Latest Handshake</th>
                <th scope="col">Public key</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if devices %}
                {% for device in devices %}
                    <tr>
                        {# <th scope="row">1</th>#}
                        <td>{{ device.name }} </td>
                        <td>{{ device.description }} </td>
                        <td>{{ device.remote_ip }}</td>
                        <td>{{ device.latest_handshake }}</td>
                        <td>{{ device.public_key }}</td>
                        <td>{{ device.inserted_at }}</td>
                        <td>{{ device.updated_at }}</td>
                        <td>
                            {# Кнопка удалить устройство #}
                            <a class="btn btn-outline-danger" href="{% url 'user_profile:confirm_delete_device' device.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% endif %}
        </table>
        <a class="btn btn-outline-success" href="{% url 'user_profile:add_device' %}">Добавить устройство</a>

    {% else %}
        <h2>Для просмотра профиля необходимо войти в аккаунт</h2>
    {% endif %}

{% endblock %}