{% extends "site_auth/base_form.html" %}
{% load static %}
{% block title %}
    Вход
{% endblock %}

{% block form_name %}Вход{% endblock %}

{% block form %}

    {% csrf_token %}
    {% if form.errors %}
        <p class="alert alert-danger">
            Не удалось войти
        </p>

    {% endif %}

    {{ form.as_p }}
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <input type="submit" class="btn btn-primary btn-lg"
               value="Войти">
        </input>
        <div><a class="mx-2" href="{% url 'site_auth:register' %}">Регистрация</a></div>

    </div>
{% endblock %}